{% extends 'base.html' %}
{% block content %}
<style type="text/css">
    .datetimepicker{
        top:292px!important;
    }
</style>
<div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Fill Records
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                
                <form method="post" action=".">{% csrf_token %}
                <div class="row">
          	     <div class="col-md-12">
                 {% for field in form %}
                 
                     <div class="col-md-6"  style="padding:10px">{{field.label}}{{field}}</div>
                 
                 {% endfor %}
                 </div>
                 </div>
                 <input type="submit" value="Submit" class="btn btn-success submit">
                </form>
                
                <!-- /.row -->



            </div>
            <!-- /.container-fluid -->

        </div>
{% endblock %}
