{% extends 'base.html' %}
{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Dashboard <small>Statistics Overview</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <h3 >date : {% now "d/m/y" %}</h3>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form role="form" id="bunk_form" action="." method="post">{% csrf_token %}
                    <div class="form-group">
		      <input id="bunk_id" type="hidden" value=""/>
                      <label for="sel1">Select Bunk</label>
                      {{form.as_p}}
                    </div>
		</form>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <h3>Bunk 1</h3>
            <table class=" table table-bordered">
                <th></th>
                <th>Red</th>
                <th>Green</th>
                <tr>
                    <td>Opening Reading</td>
                    <td>{{red_start}}</td>
                    <td>{{green_start}}</td>
                </tr>
                <tr>
                    <td>Cosing Reading</td>
                    <td>{{red_end}}</td>
                    <td>{{green_end}}</td>
                </tr>
                <tr>
                    <td>Total Sale</td>
                    <td>{{red_diff}}</td>
                    <td>{{green_diff}}</td>
                </tr>
                <tr>
                    <td>total money</td>
                    <td>{{red_total}}</td>
                    <td>{{green_total}}</td>
                </tr>
                <tr>
                    <td>Physical Money</td>
                    <td>Red</td>
                    <td>green </td>
                </tr>
            </table>
            </div>
            

        </div>
	<div>

	</div>

    </div>
    <!-- /.container-fluid -->

</div>
{% endblock %}
{% block extra_js %}
<script>
$('#id_bunk').on('change', function() {
    $("#bunk_id").val($(this).find(":selected").val());
    $("#bunk_form").submit();
});
</script>
{% endblock %}
