{% extends 'base.html' %}
{% block content %}
<div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <table class=" table table-bordered">
                    <th></th>
                    <th>Red</th>
                    <th>Green</th>
                    <th>Diesel</th>
                    <tr>
                        <td>Bunk 1</td>
                        <td>Red Balance</td>
                        <td>Green Balance</td>
                        <td>Deisel Baance</td>
                    </tr>
                    <tr>
                        <td>Bunk 2</td>
                        <td>Red Balance</td>
                        <td>Green Balance</td>
                        <td>Deisel Baance</td>
                    </tr>
                    <tr>
                        <td>Bunk 3</td>
                        <td>Red balance</td>
                        <td>Green balance</td>
                        <td>Deisel Baance</td>
                    </tr>
                    <tr>
                        <td>Bunk 4</td>
                        <td>Red balance</td>
                        <td>Green Baance</td>
                        <td>Deisel Baance</td>
                    </tr>
                    </table>
                </div>
                </div>
            

        </div>
{% endblock %}
