{% extends 'base.html' %}
{% block content %}
<div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <table class=" table table-bordered">
                    <th></th>
                    <th>Red</th>
                    <th>Green</th>
                    <th>Diesel</th>
                    {% for objects in objects_list %}
                    <tr>
                        
                            <td>{{objects.bunk}}</td>
                            <td>{{objects.red_litre}}</td>
                            <td>{{objects.green_litre}}</td>
			    <td>{{objects.diesel_litre}}</td>
			    {% if objects.description %}
                            <td>{{objects.description}}</td>
			    {% endif %}
			    {% if objects.veh_num %}
                            <td>{{objects.veh_num}}</td>
                            {% endif %}
                    <td><a href="{% url 'petroadmin-list' objects.id %}">click</a> </td>
                    </tr>
                    {% endfor %}

                    </table>
                </div>
                </div>
            

        </div>
{% endblock %}
