{% extends 'employee_base.html' %}
{% block content %}
<div id="page-wrapper">

            <div class="container-fluid">

<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Welcome <small>{{request.user}}</small>
                        </h1>
                        
                    </div>
                </div>
                <!-- /.row -->
		{% if messages %}
		    <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
    		{% endif %}

		<div class="row">
                    <div class="col-lg-12">
		     <form method="post" action=".">{% csrf_token %}
			{{form.as_p}}
			<input type="submit" name="submit" value="submit">
		     </form>

		    </div>
		</div>

	    </div>
</div>

{% endblock %}
